<%include partials/header%>
  <link href="/admin/css/login.css" rel="stylesheet">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
                <script type="text/javascript">
                $(document).ready(function(){
                  $("#register").click(function(e){
                      e.preventDefault();
                      var user=new Object();
                      user.email=$('#email').val();
                      user.password=$('#password').val();  
                      user.username=$('#username').val();
                      user.storeName=$('#storename').val();
                      user.cpassword=$('#cpassword').val();
                        //console.log(user);
                        $.ajax({
                          type:'POST',
                          dataType: 'json',                          
                          url:'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8086/api/users/signup',
                          data:user,
                          success:function(data){
                            alert(data.status);
                            console.log(data);
                            //pageRedirect();
                          },
                          error: function(jqXHR, textStatus, errorThrown){
                          alert('error: ' + textStatus + ': ' + errorThrown);
                          console.log(errorThrown);
                          }
                        });
                    });
                });
                </script>
  </head>
  <body>

    <div class="login-form">
      <!-- <form action="/api/signup" method="POST"> -->
        <form id="form1" runat="server" method="post">
        <div class="top">
          <h1>Register</h1>
        </div>
        <div class="form-area">
          <div class="group">
            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
            <i class="fa fa-user"></i>
          </div>
          <div class="group">
            <input type="text" class="form-control" name="email" id="email" placeholder="E-mail">
            <i class="fa fa-envelope-o"></i>
          </div>
          <div class="group">
            <input type="text" class="form-control" name="storename"  id="storename" placeholder="storename">
            <i class="fa fa-envelope-o"></i>
          </div>
          <div class="group">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            <i class="fa fa-key"></i>
          </div>
          <div class="group">
            <input type="password" class="form-control" name="cpassword" id="cpassword" placeholder="Password again">
            <i class="fa fa-key"></i>
          </div>
          <button type="submit" id= "register" class="btn btn-default btn-block">REGISTER NOW</button>
        </div>
      </form>
      <div class="footer-links row">
        <div class="col-xs-6"><a href="/login_page"><i class="fa fa-sign-in"></i> Login</a></div>
        <div class="col-xs-6 text-right"><a href="#"><i class="fa fa-lock"></i> Forgot password</a></div>
      </div>
    </div>

</body>
</html>