<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>jQuery loadingModal Plugin Demos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/jquery.loadingModal.css">

    <style>
    body { font-family:'Open Sans';}
        #wrapper {
            text-align: center;
            padding: 30px;
        }
    </style>
</head>
<body onload="showModal()">

<div id="wrapper">
<div class="jquery-script-ads" style="margin:50px auto" align="center"><script type="text/javascript">
</script>
</div>
    <!-- <button onclick="showModal();">Show loading modal</button> -->
</div>

<script src="http://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="assets/js/jquery.loadingModal.js"></script>
<script>
    function showModal() {
        $('body').loadingModal({text: 'Please wait, your store is creating...'});
        var delay = function(ms){ return new Promise(function(r) { setTimeout(r, ms) }) };
        var time = 1000;
        delay(time).then(function() { $('body').loadingModal('animation', 'foldingCube'); return delay(time); } )
        // window.location="/"
        setTimeout(function(){window.location.href="/"},5000);
    }

</script>
</body>
</html>
