﻿<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.6
Version: 1.6.0
Purchase: https://wrapbootstrap.com/theme/beyondadmin-adminapp-angularjs-mvc-WB06R48S4
-->

<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Head -->
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>

    <meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">


    <!--Basic Styles-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/weather-icons.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <!--Beyond styles-->
    <link id="beyond-link" href="assets/css/beyond.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/demo.min.css" rel="stylesheet" />
    <link href="assets/css/typicons.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="assets/js/skins.min.js"></script>
</head>
<!-- /Head -->
<!-- Body -->
<body>
    <!-- Loading Container -->
    <div class="loading-container">
        <div class="loader"></div>
    </div>
    <!--  /Loading Container -->

    <div class="topcdnzhead">
        <div class="logosection">
            <img alt="Cadenga Logo" src="assets/img/logo-cadenga.png">
        </div>
    </div>

    <div class="mainmenu">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="maintabs" id="maintabactivebg">
                    <div class="maintabhead" >
                        <a href="index.html"><img alt="mainheadmenus" src="assets/img/mainmenu/wcms.png"></a>
                    </div>
                     <div class="maintabinfohead"><a href="index.html">WCMS</a></div>
                </div>                
                <div class="maintabs">
                    <div class="maintabhead">
                        <a href="subscriptions.html"><img alt="mainheadmenus" src="assets/img/mainmenu/subscriptions.png"></a>
                    </div>
                    <div class="maintabinfohead"><a href="subscriptions.html" target="_self">SUBSCRIPTIONS</a></div>
                </div>
                <div class="maintabs">
                    <div class="maintabhead">
                        <a href="#"><img alt="mainheadmenus" src="assets/img/mainmenu/analytics.png"></a>
                    </div>
                    <div class="maintabinfohead"><a href="#">ANALYTICS</a></div>
                </div>
                <div class="maintabs">
                    <div class="maintabhead">
                        <a href="#"><img alt="mainheadmenus" src="assets/img/mainmenu/orders.png"></a>
                    </div>
                    <div class="maintabinfohead"><a href="#">ORDERS</a></div>
                </div>
                <div class="maintabs">
                    <div class="maintabhead">
                        <a href="#"><img alt="mainheadmenus" src="assets/img/mainmenu/sales.png"></a>
                    </div>
                    <div class="maintabinfohead"><a href="#">SALES</a></div>
                </div>
                <div class="maintabs">
                    <div class="maintabhead">
                        <a href="#"><img alt="mainheadmenus" src="assets/img/mainmenu/audience.png"></a>
                    </div>
                    <div class="maintabinfohead"><a href="#">AUDIENCE</a></div>
                </div>
                <div class="maintabs">
                    <div class="maintabhead">
                        <a href="#"><img alt="mainheadmenus" src="assets/img/mainmenu/experiments.png"></a>
                    </div>
                    <div class="maintabinfohead"><a href="#">EXPERIMENTS</a></div>
                </div>
                <div class="maintabs">
                    <div class="maintabhead">
                        <a href="#"><img alt="mainheadmenus" src="assets/img/mainmenu/setup.png"></a>
                    </div>
                    <div class="maintabinfohead"><a href="#">SETUP</a></a></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">            
            <!-- Page Content -->
            <div class="page-content" style="margin:0px;">                
                <!-- Page Header -->
                <div class="page-header position-relative" style="display:none;">
                    <div class="header-title">
                        <h1>
                            Dashboard
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded databox-vertical">
                                <div class="databox-top no-padding ">
                                    <div class="databox-row">
                                        <div class="databox-cell cell-6 text-align-left">
                                            <span class="databox-number"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></i></span>
                                            <span class="databox-text" style="height:5px;">&nbsp;</span>
                                        </div>
                                        <div class="databox-cell cell-6 text-align-center">
                                            <span class="databox-number" style="text-align:right;float:right; font-size:24px;"><i class="fa fa-level-up" aria-hidden="true"></i>43%</span>
                                            <span class="databox-text" style="height:5px;">&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="databox-bottom">
                                    <span class="databox-text">Total Messages <span style="text-align:right;float:right;">234</span></span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-orange" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:30%; background-color:#007784 !important;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded databox-vertical">
                                <div class="databox-top no-padding ">
                                    <div class="databox-row">
                                        <div class="databox-cell cell-6 text-align-left">
                                            <span class="databox-number"><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></span>
                                            <span class="databox-text" style="height:5px;">&nbsp;</span>
                                        </div>
                                        <div class="databox-cell cell-6 text-align-center">
                                            <span class="databox-number" style="text-align:right;float:right; font-size:24px;"><i class="fa fa-level-down" aria-hidden="true"></i>73%</span>
                                            <span class="databox-text" style="height:5px;">&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="databox-bottom">
                                    <span class="databox-text">DELIVERY PERCENT  <span style="text-align:right;float:right;">234</span></span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-palegreen" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded databox-vertical">
                                <div class="databox-top no-padding ">
                                    <div class="databox-row">
                                        <div class="databox-cell cell-6 text-align-left">
                                            <span class="databox-number"><i class="fa fa-users fa-2x" aria-hidden="true"></i></span>
                                            <span class="databox-text" style="height:5px;">&nbsp;</span>
                                        </div>
                                        <div class="databox-cell cell-6 text-align-center">
                                            <span class="databox-number" style="text-align:right;float:right; font-size:24px;"><i class="fa fa-level-up" aria-hidden="true"></i>52%</span>
                                            <span class="databox-text" style="height:5px;">&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="databox-bottom">
                                    <span class="databox-text">DELIVERY PERCENT  <span style="text-align:right;float:right;">234</span></span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-azure" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded databox-vertical">
                                <div class="databox-top no-padding ">
                                    <div class="databox-row">
                                        <div class="databox-cell cell-6 text-align-left">
                                            <span class="databox-number"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i></span>
                                            <span class="databox-text" style="height:5px;">&nbsp;</span>
                                        </div>
                                        <div class="databox-cell cell-6 text-align-center">
                                            <span class="databox-number" style="text-align:right;float:right; font-size:24px;"><i class="fa fa-level-down" aria-hidden="true"></i>43%</span>
                                            <span class="databox-text" style="height:5px;">&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="databox-bottom">
                                    <span class="databox-text">DELIVERY PERCENT  <span style="text-align:right;float:right;">234</span></span>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar progress-bar-orange" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                            

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                            <div class="databox radius-bordered databox-shadowed databox-graded ">
                                <div class="databox-right bg-azure">
                                    <div class="databox-text darkgray" id="analyheads" style="color:#fff !important;">NEW Subscriptions</div>
                                    <span class="databox-number orange" style="color:#fff !important;">14,145</span>
                                    <!-- <div class="databox-stat orange radius-bordered">
                                        <i class="stat-icon icon-lg fa fa-tasks"></i>
                                    </div> -->
                                </div>
                                <div class="databox-left bg-azure">
                                    <div class="databox-piechart">
                                        <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="#7fe2fa"><span class="white font-90"><i class="fa fa-shopping-cart" aria-hidden="true" style="color:#fff !important; border:0px;font-size:20px;"></i></span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded">
                                <div class="databox-right bg-palegreen">
                                    <div class="databox-text darkgray" id="analyheads" style="color:#fff !important;">NEW Subscription Sales</div>
                                    <span class="databox-number orange" style="color:#fff !important;">14,145</span>
                                    <!-- <div class="databox-stat orange radius-bordered">
                                        <i class="stat-icon icon-lg fa fa-tasks"></i>
                                    </div> -->
                                </div>
                                <div class="databox-left bg-palegreen">
                                    <div class="databox-piechart">
                                        <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90"><i class="fa fa-usd" aria-hidden="true" style="color:#fff!important; border:0px;font-size:20px;"></i></span>
                                        </div>                                                
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded">
                                <div class="databox-right bg-yellow">
                                    <div class="databox-text darkgray" id="analyheads" style="color:#fff !important;">Recurring Sales</div>
                                    <span class="databox-number yellow" style="color:#fff !important;">1133</span>
                                </div>
                                <div class="databox-left bg-yellow">
                                    <div class="databox-piechart">
                                        <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="#fee29f"><span class="white font-90"><i class="fa fa-random" aria-hidden="true" style="color:#fff!important; border:0px;font-size:20px;"></i></span></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded">
                                <div class="databox-right bg-orange">
                                    <div class="databox-text darkgray" id="analyheads" style="color:#fff !important;">Live Subscriptions</div>
                                    <span class="databox-number orange" style="color:#fff !important;">14,145</span>
                                </div>
                                <div class="databox-left bg-orange">
                                    <div class="databox-piechart">
                                        <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="#fa8872"><span class="white font-90"><i class="fa fa-check" aria-hidden="true"  style="color:#fff !important; border:0px;font-size:20px;"></i></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                            <div class="databox radius-bordered databox-shadowed databox-graded ">
                                <div class="databox-right bg-azure">
                                    <div class="databox-text darkgray" id="analyheads" style="color:#fff !important;">In Trail</div>
                                    <span class="databox-number orange" style="color:#fff !important;">14,145</span>
                                    <!-- <div class="databox-stat orange radius-bordered">
                                        <i class="stat-icon icon-lg fa fa-tasks"></i>
                                    </div> -->
                                </div>
                                <div class="databox-left bg-azure">
                                    <div class="databox-piechart">
                                        <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="#7fe2fa"><span class="white font-90"><i class="fa fa-undo" aria-hidden="true"  style="color:#fff !important; border:0px;font-size:20px;"></i></span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded">
                                <div class="databox-right bg-palegreen">
                                    <div class="databox-text darkgray" id="analyheads" style="color:#fff !important;">In Trail Opportuity</div>
                                    <span class="databox-number orange" style="color:#fff !important;">14,145</span>
                                    <!-- <div class="databox-stat orange radius-bordered">
                                        <i class="stat-icon icon-lg fa fa-tasks"></i>
                                    </div> -->
                                </div>
                                <div class="databox-left bg-palegreen">
                                    <div class="databox-piechart">
                                        <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90"><i class="fa fa-usd" aria-hidden="true" style="color:#fff!important; border:0px;font-size:20px;"></i></span>
                                        </div> 
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded">
                                <div class="databox-right bg-yellow">
                                    <div class="databox-text darkgray" id="analyheads" style="color:#fff !important;">Conversions</div>
                                    <span class="databox-number yellow" style="color:#fff !important;">1133</span>
                                </div>
                                <div class="databox-left bg-yellow">
                                    <div class="databox-piechart">
                                        <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="#fee29f"><span class="white font-90"><i class="fa fa-repeat" aria-hidden="true" style="color:#fff!important; border:0px; font-size:20px;"></i></span></div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="databox radius-bordered databox-shadowed databox-graded">
                                <div class="databox-right bg-orange">
                                    <div class="databox-text darkgray" id="analyheads" style="color:#fff !important;">Conversions Sales</div>
                                    <span class="databox-number orange" style="color:#fff !important;">14,145</span>
                                </div>
                                <div class="databox-left bg-orange">
                                    <div class="databox-piechart">
                                        <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="50" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="#fa8872"><span class="white font-90">
                                        <i class="fa fa-usd" aria-hidden="true" style="color:#fff!important; border:0px; font-size:20px;"></i>
                                        </span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                                    <div class="widget">
                                        <div class="widget-header ">
                                            <span class="widget-caption">Order List</span>
                                            <div class="widget-buttons">
                                                <a href="#" data-toggle="maximize">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <a href="#" data-toggle="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                                <a href="#" data-toggle="dispose">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </th>
                                                        <th>
                                                            Username
                                                        </th>
                                                        <th>
                                                            Email
                                                        </th>
                                                        <th>
                                                            Points
                                                        </th>
                                                        <th>
                                                            Joined
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            shuxer
                                                        </td>
                                                        <td>
                                                            <a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a>
                                                        </td>
                                                        <td>
                                                            120
                                                        </td>
                                                        <td class="center ">
                                                            12 Jan 2012
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            looper
                                                        </td>
                                                        <td>
                                                            <a href="mailto:looper90@gmail.com">looper90@gmail.com</a>
                                                        </td>
                                                        <td>
                                                            120
                                                        </td>
                                                        <td class="center ">
                                                            12.12.2011
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            userwow
                                                        </td>
                                                        <td>
                                                            <a href="mailto:userwow@yahoo.com">userwow@yahoo.com</a>
                                                        </td>
                                                        <td>
                                                            20
                                                        </td>
                                                        <td class="center ">
                                                            12.12.2012
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label><input type="checkbox"><span class="text"></span></label>
                                                        </td>
                                                        <td>
                                                            user1wow
                                                        </td>
                                                        <td>
                                                            <a href="mailto:userwow@gmail.com">userwow@gmail.com</a>
                                                        </td>
                                                        <td>
                                                            20
                                                        </td>
                                                        <td class="center ">
                                                            12.12.2012
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="databox databox-xxlg databox-vertical databox-shadowed bg-white radius-bordered padding-5">
                                <div class="databox-top">
                                    <div class="databox-row row-12">
                                        <div class="databox-cell cell-3 text-center">
                                            <div class="databox-number number-xxlg sonic-silver">Yearly Sales</div>
                                            <div class="databox-text storm-cloud">&nbsp;</div>
                                        </div>
                                        <div class="databox-cell cell-9 text-align-center">
                                            <div class="databox-row row-6 text-left">
                                                <span class="badge badge-palegreen badge-empty margin-left-5"></span>
                                                <span class="databox-inlinetext uppercase darkgray margin-left-5">NEW</span>
                                                <span class="badge badge-yellow badge-empty margin-left-5"></span>
                                                <span class="databox-inlinetext uppercase darkgray margin-left-5">RETURNING</span>
                                            </div>
                                            <div class="databox-row row-6">
                                                <div class="progress bg-yellow progress-no-radius">
                                                    <div class="progress-bar progress-bar-palegreen" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="databox-bottom">
                                    <div class="databox-row row-12">
                                        <div class="databox-cell cell-7 text-center  padding-5">
                                            <div id="dashboard-pie-chart-sources" class="chart"></div>
                                        </div>
                                        <div class="databox-cell cell-5 text-center no-padding-left padding-bottom-30">
                                            <div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
                                                <span class="databox-text sonic-silver pull-left no-margin">Type</span>
                                                <span class="databox-text sonic-silver pull-right no-margin uppercase">PCT</span>
                                            </div>
                                            <div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
                                                <span class="badge badge-blue badge-empty pull-left margin-5"></span>
                                                <span class="databox-text darkgray pull-left no-margin hidden-xs">FEED</span>
                                                <span class="databox-text darkgray pull-right no-margin uppercase">46%</span>
                                            </div>
                                            <div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
                                                <span class="badge badge-orange badge-empty pull-left margin-5"></span>
                                                <span class="databox-text darkgray pull-left no-margin hidden-xs">PREFERRAL</span>
                                                <span class="databox-text darkgray pull-right no-margin uppercase">21%</span>
                                            </div>
                                            <div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
                                                <span class="badge badge-pink badge-empty pull-left margin-5"></span>
                                                <span class="databox-text darkgray pull-left no-margin hidden-xs">DIRECT</span>
                                                <span class="databox-text darkgray pull-right no-margin uppercase">12%</span>
                                            </div>
                                            <div class="databox-row row-2 bordered-bottom bordered-ivory padding-10">
                                                <span class="badge badge-palegreen badge-empty pull-left margin-5"></span>
                                                <span class="databox-text darkgray pull-left no-margin hidden-xs">EMAIL</span>
                                                <span class="databox-text darkgray pull-right no-margin uppercase">11%</span>
                                            </div>
                                            <div class="databox-row row-2 padding-10">
                                                <span class="badge badge-yellow badge-empty pull-left margin-5"></span>
                                                <span class="databox-text darkgray pull-left no-margin hidden-xs">ORGANIC</span>
                                                <span class="databox-text darkgray pull-right no-margin uppercase">10%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="databox databox-xxlg databox-vertical databox-inverted">
                                <div class="databox-top bg-whitesmoke no-padding">
                                    <div class="databox-row row-2 bg-orange no-padding">
                                        
                                        <div class="databox-cell cell-8 no-padding padding-top-5 text-align-left">
                                            <span class="databox-number white">Monthly Sales</span>
                                        </div>
                                        <div class="databox-cell cell-3 text-align-right padding-10">
                                            <!-- <span class="databox-text white">13 DECEMBER</span> -->
                                        </div>
                                    </div>
                                    <div class="databox-row row-4">
                                        <div class="databox-cell cell-6 no-padding padding-10 padding-left-20 text-align-left">
                                            <span class="databox-number orange no-margin">534,908</span>
                                            <span class="databox-text sky no-margin">OVERAL VIEWS</span>
                                        </div>
                                        <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                                            <span class="databox-number orange no-margin">4,129</span>
                                            <span class="databox-text darkgray no-margin">THIS WEEK</span>
                                        </div>
                                        <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                                            <span class="databox-number orange no-margin">329</span>
                                            <span class="databox-text darkgray no-margin">YESTERDAY</span>
                                        </div>
                                        <div class="databox-cell cell-2 no-padding padding-10 text-align-left">
                                            <span class="databox-number orange no-margin">104</span>
                                            <span class="databox-text darkgray no-margin">TODAY</span>
                                        </div>
                                    </div>
                                    <div class="databox-row row-6 no-padding">
                                        <div class="databox-sparkline">
                                            <span data-sparkline="line" data-height="126px" data-width="100%" data-fillcolor="#37c2e2" data-linecolor="#37c2e2"
                                                  data-spotcolor="#fafafa" data-minspotcolor="#fafafa" data-maxspotcolor="#ffce55"
                                                  data-highlightspotcolor="#f5f5f5 " data-highlightlinecolor="#f5f5f5"
                                                  data-linewidth="2" data-spotradius="0">
                                                5,7,6,5,9,4,3,7,2
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="databox-bottom bg-sky no-padding">
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white">Mon</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white">Tues</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white">Wed</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white">Thu</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white">Fri</span>
                                    </div>
                                    <div class="databox-cell cell-2 text-align-center no-padding padding-top-5">
                                        <span class="databox-header white">Sat</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <databox-inlinetextv class="col-lg-6 col-sm-12 col-xs-12">
                                    <div class="widget">
                                        <div class="widget-header ">
                                            <span class="widget-caption">&nbsp;</span>
                                            <div class="widget-buttons">
                                                <a href="#" data-toggle="maximize">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                                <a href="#" data-toggle="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </a>
                                                <a href="#" data-toggle="dispose">
                                                    <i class="fa fa-times"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="widget-body">
                                            <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </th>
                                                        <th>
                                                            Username
                                                        </th>
                                                        <th>
                                                            Email
                                                        </th>
                                                        <th>
                                                            Points
                                                        </th>
                                                        <th>
                                                            Joined
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            shuxer
                                                        </td>
                                                        <td>
                                                            <a href="mailto:shuxer@gmail.com">shuxer@gmail.com</a>
                                                        </td>
                                                        <td>
                                                            120
                                                        </td>
                                                        <td class="center ">
                                                            12 Jan 2012
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            looper
                                                        </td>
                                                        <td>
                                                            <a href="mailto:looper90@gmail.com">looper90@gmail.com</a>
                                                        </td>
                                                        <td>
                                                            120
                                                        </td>
                                                        <td class="center ">
                                                            12.12.2011
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </td>
                                                        <td>
                                                            userwow
                                                        </td>
                                                        <td>
                                                            <a href="mailto:userwow@yahoo.com">userwow@yahoo.com</a>
                                                        </td>
                                                        <td>
                                                            20
                                                        </td>
                                                        <td class="center ">
                                                            12.12.2012
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label><input type="checkbox"><span class="text"></span></label>
                                                        </td>
                                                        <td>
                                                            user1wow
                                                        </td>
                                                        <td>
                                                            <a href="mailto:userwow@gmail.com">userwow@gmail.com</a>
                                                        </td>
                                                        <td>
                                                            20
                                                        </td>
                                                        <td class="center ">
                                                            12.12.2012
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        </div>
                    </div>


                    <div class="row" id="extra_graph">
                        <div class="col-lg-6 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="dashboard-box">
                                        <div class="box-tabbs">
                                            <div class="tabbable">                                                
                                                <div class="tab-content tabs-flat no-padding">
                                                    <div id="realtime" class="tab-pane active padding-5 animated fadeInUp">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div id="dashboard-chart-realtime" class="chart chart-lg no-margin"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="visits" class="tab-pane  animated fadeInUp">
                                                        <div class="row">
                                                            <div class="col-lg-12 chart-container">
                                                                <div id="dashboard-chart-visits" class="chart chart-lg no-margin" style="width:100%"></div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->

        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    <!--Basic Scripts-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>

    <!--Beyond Scripts-->
    <script src="assets/js/beyond.js"></script>


    <!--Page Related Scripts-->
    <!--Sparkline Charts Needed Scripts-->
    <script src="assets/js/charts/sparkline/jquery.sparkline.js"></script>
    <script src="assets/js/charts/sparkline/sparkline-init.js"></script>

    <!--Easy Pie Charts Needed Scripts-->
    <script src="assets/js/charts/easypiechart/jquery.easypiechart.js"></script>
    <script src="assets/js/charts/easypiechart/easypiechart-init.js"></script>

    <script src="assets/js/charts/morris/raphael-2.0.2.min.js"></script>
    <script src="assets/js/charts/morris/morris.js"></script>
    <script src="assets/js/charts/morris/morris-init.js"></script>


    <!--Page Related Scripts-->
    <script src="assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="assets/js/datatable/ZeroClipboard.js"></script>
    <script src="assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
    </script>
    

    <!--Flot Charts Needed Scripts-->
    <script src="assets/js/charts/flot/jquery.flot.js"></script>
    <script src="assets/js/charts/flot/jquery.flot.resize.js"></script>
    <script src="assets/js/charts/flot/jquery.flot.pie.js"></script>
    <script src="assets/js/charts/flot/jquery.flot.tooltip.js"></script>
    <script src="assets/js/charts/flot/jquery.flot.orderBars.js"></script>

    <script>
        // If you want to draw your charts with Theme colors you must run initiating charts after that current skin is loaded
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

            //Sets The Hidden Chart Width
            $('#dashboard-bandwidth-chart')
                .data('width', $('.box-tabbs')
                    .width() - 20);

            //-------------------------Visitor Sources Pie Chart----------------------------------------//
            var data = [
                {
                    data: [[1, 21]],
                    color: '#fb6e52'
                },
                {
                    data: [[1, 12]],
                    color: '#e75b8d'
                },
                {
                    data: [[1, 11]],
                    color: '#a0d468'
                },
                {
                    data: [[1, 10]],
                    color: '#ffce55'
                },
                {
                    data: [[1, 46]],
                    color: '#5db2ff'
                }
            ];
            var placeholder = $("#dashboard-pie-chart-sources");
            placeholder.unbind();

            $.plot(placeholder, data, {
                series: {
                    pie: {
                        innerRadius: 0.45,
                        show: true,
                        stroke: {
                            width: 4
                        }
                    }
                }
            });

            //------------------------------Visit Chart------------------------------------------------//
            var data2 = [{
                color: themesecondary,
                label: "Direct Visits",
                data: [[3, 2], [4, 5], [5, 4], [6, 11], [7, 12], [8, 11], [9, 8], [10, 14], [11, 12], [12, 16], [13, 9],
                [14, 10], [15, 14], [16, 15], [17, 9]],

                lines: {
                    show: true,
                    fill: true,
                    lineWidth: .1,
                    fillColor: {
                        colors: [{
                            opacity: 0
                        }, {
                            opacity: 0.4
                        }]
                    }
                },
                points: {
                    show: false
                },
                shadowSize: 0
            },
                {
                    color: themeprimary,
                    label: "Referral Visits",
                    data: [[3, 10], [4, 13], [5, 12], [6, 16], [7, 19], [8, 19], [9, 24], [10, 19], [11, 18], [12, 21], [13, 17],
                    [14, 14], [15, 12], [16, 14], [17, 15]],
                    bars: {
                        order: 1,
                        show: true,
                        borderWidth: 0,
                        barWidth: 0.4,
                        lineWidth: .5,
                        fillColor: {
                            colors: [{
                                opacity: 0.4
                            }, {
                                opacity: 1
                            }]
                        }
                    }
                },
                {
                    color: themethirdcolor,
                    label: "Search Engines",
                    data: [[3, 14], [4, 11], [5, 10], [6, 9], [7, 5], [8, 8], [9, 5], [10, 6], [11, 4], [12, 7], [13, 4],
                    [14, 3], [15, 4], [16, 6], [17, 4]],
                    lines: {
                        show: true,
                        fill: false,
                        fillColor: {
                            colors: [{
                                opacity: 0.3
                            }, {
                                opacity: 0
                            }]
                        }
                    },
                    points: {
                        show: true
                    }
                }
            ];
            var options = {
                legend: {
                    show: false
                },
                xaxis: {
                    tickDecimals: 0,
                    color: '#f3f3f3'
                },
                yaxis: {
                    min: 0,
                    color: '#f3f3f3',
                    tickFormatter: function (val, axis) {
                        return "";
                    },
                },
                grid: {
                    hoverable: true,
                    clickable: false,
                    borderWidth: 0,
                    aboveData: false,
                    color: '#fbfbfb'

                },
                tooltip: true,
                tooltipOpts: {
                    defaultTheme: false,
                    content: " <b>%x May</b> , <b>%s</b> : <span>%y</span>",
                }
            };
            var placeholder = $("#dashboard-chart-visits");
            var plot = $.plot(placeholder, data2, options);

            //------------------------------Real-Time Chart-------------------------------------------//
            var realTimedata = [],
                realTimedata2 = [],
                totalPoints = 300;

            var getSeriesObj = function () {
                return [
                {
                    data: getRandomData(),
                    lines: {
                        show: true,
                        lineWidth: 1,
                        fill: true,
                        fillColor: {
                            colors: [
                                {
                                    opacity: 0
                                }, {
                                    opacity: 1
                                }
                            ]
                        },
                        steps: false
                    },
                    shadowSize: 0
                }, {
                    data: getRandomData2(),
                    lines: {
                        lineWidth: 0,
                        fill: true,
                        fillColor: {
                            colors: [
                                {
                                    opacity: .5
                                }, {
                                    opacity: 1
                                }
                            ]
                        },
                        steps: false
                    },
                    shadowSize: 0
                }
                ];
            };
            function getRandomData() {
                if (realTimedata.length > 0)
                    realTimedata = realTimedata.slice(1);

                // Do a random walk

                while (realTimedata.length < totalPoints) {

                    var prev = realTimedata.length > 0 ? realTimedata[realTimedata.length - 1] : 50,
                        y = prev + Math.random() * 10 - 5;

                    if (y < 0) {
                        y = 0;
                    } else if (y > 100) {
                        y = 100;
                    }
                    realTimedata.push(y);
                }

                // Zip the generated y values with the x values

                var res = [];
                for (var i = 0; i < realTimedata.length; ++i) {
                    res.push([i, realTimedata[i]]);
                }

                return res;
            }
            function getRandomData2() {
                if (realTimedata2.length > 0)
                    realTimedata2 = realTimedata2.slice(1);

                // Do a random walk

                while (realTimedata2.length < totalPoints) {

                    var prev = realTimedata2.length > 0 ? realTimedata[realTimedata2.length] : 50,
                        y = prev - 25;

                    if (y < 0) {
                        y = 0;
                    } else if (y > 100) {
                        y = 100;
                    }
                    realTimedata2.push(y);
                }


                var res = [];
                for (var i = 0; i < realTimedata2.length; ++i) {
                    res.push([i, realTimedata2[i]]);
                }

                return res;
            }
            // Set up the control widget
            var updateInterval = 500;
            var plot = $.plot("#dashboard-chart-realtime", getSeriesObj(), {
                yaxis: {
                    color: '#f3f3f3',
                    min: 0,
                    max: 100,
                    tickFormatter: function (val, axis) {
                        return "";
                    }
                },
                xaxis: {
                    color: '#f3f3f3',
                    min: 0,
                    max: 100,
                    tickFormatter: function (val, axis) {
                        return "";
                    }
                },
                grid: {
                    hoverable: true,
                    clickable: false,
                    borderWidth: 0,
                    aboveData: false
                },
                colors: ['#eee', themeprimary],
            });

            function update() {

                plot.setData(getSeriesObj());

                plot.draw();
                setTimeout(update, updateInterval);
            }
            update();


            //-------------------------Initiates Easy Pie Chart instances in page--------------------//
            InitiateEasyPieChart.init();

            //-------------------------Initiates Sparkline Chart instances in page------------------//
            InitiateSparklineCharts.init();
        });

    </script>
    
    <style type="text/css">
    	.btn-group, .btn-group-vertical {
    		display: none;
		}
		div#simpledatatable_filter {
    		position: absolute;
    		right: 4%;
		}
		.row.DTTTFooter {
		    padding: 15px 0% 0px;
		}
		.page-body {
    		z-index: 1;
    		position: relative;
		}
		div#extra_graph {
		    margin-top: -400px;
		    z-index: 0;
		    position: relative;
		}
    </style>

</body>
<!--  /Body -->
</html>
