<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/favicon.png" />
	<title>Store_Setup_Subscription</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/css/styles.css" rel="stylesheet" />
	<link href="assets/css/chosen.min.css" rel="stylesheet"/>

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
	

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosectionpro">	    	
			    <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">

		            	<div class="wizard-header1">
	                       <div class="signuphead">CADENZA SETUP</div>
	                    </div>
	                    <div class="signupbody">
			                <div class="card wizard-card" data-color="green" id="wizard">
			                	<form action="" method="POST" enctype="multipart/form-data">			                		
			                        <div class="tab-content">
			                            <!-- PRODCT STARTED HERE -->
			                            <div class="tab-pane active" id="product">
			                            	<div class="row">
			                                	<div class="col-sm-12">
			                                    	<div class="wizard-header">
							                        	<h4 class="wizard-title">Setup your store by adding products </h4>
							                        	<p class="category">Clients will be able to view and search these fields, and purchase these products.</p>
							                    	</div>

							                    	<!-- WIzard starts here -->
										            <div class="row">
										               <div class="col-sm-12">
										                  <ol class="steps">
										                    
										                     <li class="steps__item" ><span class="steps__link">Product</span></li>
										                      <li class="steps__item  steps__item--active  steps__item--first"><a href="#" class="steps__link">Subscription</a></li>
										                     <li class="steps__item" disabled="disabled"><span class="steps__link">Plan</span></li>
										                     <li class="steps__item" disabled="disabled"><span class="steps__link">Payment</span></li>
										                  </ol>  
										               </div>
										            </div>
										         <!-- WIZARD ENDS HERE -->

							                    	<!-- Product Information starts here -->
							                    	<div class="col-sm-12">
								                    	<div class="wizard-header">
								                        	<h4 class="newproduct">Subscription Details</h4>
								                        	<hr class="hrhere">
								                        </div>
														<div class="col-sm-8">
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Subscription Name <span style="color:red;">*</span>:</label>
																	<div class="form-group">
												                    	<input type="text" class="form-control" id="title" value="">
												                	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Subscription SKU <span style="color:red;">*</span>:</label>
																	<div class="form-group">
												                    	<input type="text" class="form-control" id="collectionId" value="<%=SKU%>"  readonly>
												                	</div>
																</div>
															</div>
															<div class="col-sm-12">

																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Subscription Description <span style="color:red;">*</span>:</label>
																	<div class="form-group">
																		<textarea id="description" rows="3" cols="50" maxlength="60"></textarea>
												                	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-4">		
															<div class="col-sm-12">
																<label class="labelew">Subscription Image <span style="color:red;">*</span>:</label>
																<div class="picture-container">
																	<div class="picture">
																		<img src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
																		<input type="file" id="wizard-picture" name="image" required>
																	</div>
																	<h6 style="text-transform:capitalize">Upload</h6>
																	<div class="uploadsize">(Max 32mb | .jpg, .png)</div>
																</div>
															</div>
														</div>		
													</div>	
													<!-- Product information ends here -->
													<!-- Pricing Starts here -->
													<div class="col-sm-12">
								                    	<div class="wizard-header">
								                        	<h4 class="newproduct">Subscription Option</h4>
								                        	<hr class="hrhere">
								                        </div>
														<div class="col-sm-12">
															<div class="row">
						                                        <div class="col-sm-12">
						                                        	<div class="col-sm-4">
							                                            <div class="confirmwelcomebas">
							                                                <input type="checkbox" id="featuredSubscription" value="1">
							                                                <span class="basketspan">Featured Subscription</span>
							                                             </div>
							                                        </div>
							                                        <div class="col-sm-4">
							                                            <div class="confirmwelcomebas">
							                                                <input type="checkbox" name="" id="shipping_discount" value="1">
							                                                <span class="basketspan">Shipping Discount</span>
							                                             </div>
							                                        </div>
							                                        <div class="col-sm-4">
							                                            <div class="confirmwelcomebas">
							                                                <input type="checkbox" name="" id="gifting_discount" value="1">
							                                                <span class="basketspan">Gifting Discount</span>
							                                             </div>
							                                        </div>
							                                    </div>
							                                    <div class="col-sm-12">
							                                    	<div class="deliveryfrancy">
							                                    		<div class="deliveryfre">Delivery Freequency</div>
							                                    		<div class="deliveryinput">
							                                    			<div class="deliverycheck" style="text-align:left; width:80px;">
																				<input type="text" class="form-control" id="frequency" required>	
							                                    			</div>
							                                    			<div class="deliverysection" >
							                                    				<select id="period">
							                                    					<option>Month</option>
																					<option>Week</option>
																					<option>Year</option>
							                                    				</select>
							                                    			</div>
							                                    		</div>
							                                    	</div>
							                                    	<div class="deliveryfrancy">
																			<div class="deliveryfre">First Trail Discount</div>
																			<div class="deliveryinput">
																				<div class="form-group">
																						<input type="text" class="form-control" id="productnameherebask" value="" >
																		</div>
																			</div>
																	</div>
																	<div class="deliveryfrancy">
																		<div class="col-sm-5">
																				<div class="choice" data-toggle="wizard-checkbox">
																						<label>Products in Subscription</label>
																						<select class="chosen-select" multiple="multiple" name="subscriptionProducts" id="subscriptionProducts" style="width:200px;">
																								<% var sum=0;%>
																							<% for(let j = 0; j < productCount; j++) { %>
																								<option value="<%=products[j].collectionId%>"><%=products[j].title%></option>
																						
																								<%   sum+=products[j].price %>
																								<% } %>
																								
																						</select>
																						<input type="hidden" class="form-control" id="srp" value="<%= sum %>" name="srp">
																				</div>
																		</div>			
																	</div>
							                                    </div>
						                                    </div>
														</div>
														<!-- Product Subscription start here -->
														<div class="col-sm-8">

														</div>
														<!-- Prodct subscription ends here -->
														<div class="col-sm-4">	
																				
																<input type="submit" id="post_basket" name="submit" class="submitlinknew" value="Next">
															
														</div>		
													</div>
													<!-- Pricing ends here -->


			                            		</div>
			                            	</div>
			                            </div>
			                            <!-- PRODCT END HERE -->
			                        </div>
			                	</form>
			                </div>
			            </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    
	</div>

</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="assets/js/chosen.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	 $(".chosen-select").chosen();
	</script>
	

	<script>
		$(document).ready(function(){			
			//$("#basketone").show();
			$("#baskettwo").hide();

			//$("#planone").show();
			$("#plantwo").hide();	

			//$("#paymentone").show();
			$("#paymenttwo").hide();
		});
	</script>

<script type="text/javascript">

	$(document).ready(function(){
		$("#post_basket").click(function(e){
			e.preventDefault();
			var products = [];
			$.each($(".chosen-select option:selected"), function(){            
				products.push($(this).val());
			});
			var token=window.localStorage.getItem('token');
			var file=document.getElementById("wizard-picture").files[0];
			var collectionId=document.getElementById("collectionId").value;
			var description=document.getElementById("description").value;
			var title=document.getElementById("title").value;
			var srp=document.getElementById("srp").value;
			var frequency=document.getElementById("frequency").value;
			var period=document.getElementById("period").value;
			var subscriptionProducts=document.getElementById("subscriptionProducts").value;
			var featuredSubscription=document.getElementById("featuredSubscription").value;
			var shipping_discount=document.getElementById("shipping_discount").value;
			var gifting_discount=document.getElementById("gifting_discount").value;
			var trail_discount=document.getElementById("productnameherebask").value;
			if(featuredSubscription=="1")
				featuredSubscription="yes"
			else
				featuredSubscription="no"
			if(shipping_discount=="1")
				shipping_discount="yes"
			else
				shipping_discount="no"
			if(gifting_discount=="1")
				gifting_discount="yes"
			else
				gifting_discount="no"
			

			formdata = new FormData(); 
			formdata.append("token",token);
			formdata.append("image",file);
			formdata.append("collectionId",collectionId);
			formdata.append("description",description);
			formdata.append("srp",srp);
			formdata.append("title",title);
			formdata.append("frequency",frequency);
			//formdata.append("expiryDate",expiryDate);
			formdata.append("period",period)
			formdata.append("subscriptionProducts","["+products+"]");
			formdata.append("featuredSubscription",featuredSubscription);
			formdata.append("shipping_discount",shipping_discount);
			formdata.append("trail_discount",trail_discount);
			formdata.append("gifting_discount",gifting_discount);
			console.log("suma:"+ products);
			$.ajax({
			url:'http://ec2-35-154-68-84.ap-south-1.compute.amazonaws.com:8089/api/subscribe/addSubscribe',
			//url:"http://localhost:8089/api/subscribe/addSubscribe",
			method: 'POST',
			data:formdata,
			processData: false, 
			contentType: false,
			success:function(data){


				var collectionId=document.getElementById("collectionId").value;
				window.localStorage.setItem("period",period);
				window.localStorage.setItem("frequency",frequency);
				window.location="/plan?sku="+collectionId;
			},
			error:function(jqXHR, textStatus, errorThrown){
					  alert('error: ' + textStatus + ': ' + errorThrown);
				  console.log(errorThrown);
			  }
			});
		})
	});
	</script>

</html>
