<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/favicon.png" />
	<title>Store_Setup_Payment</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosectionpro">	    	
			    <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">

		            	<div class="wizard-header1">
	                       <div class="signuphead">CADENZA SETUP</div>
	                    </div>
	                    <div class="signupbody">
			                <div class="card wizard-card" data-color="green" id="wizard">
			                	<form action="" method="">			                		
			                        <div class="tab-content">
			                            <!-- PRODCT STARTED HERE -->
			                            <div class="tab-pane active" id="product">
			                            	<div class="row">
			                                	<div class="col-sm-12">
			                                    	<div class="wizard-header">
							                        	<h4 class="wizard-title">Setup your store by adding products </h4>
							                        	<p class="category">Clients will be able to view and search these fields, and purchase these products.</p>
							                    	</div>

							                    	<!-- WIzard starts here -->
										            <div class="row">
										               <div class="col-sm-12">
										                  <ol class="steps">
										                    
										                     <li class="steps__item" ><span class="steps__link">Product</span></li>
										                     <li class="steps__item" ><span class="steps__link">Subscription</span></li>
										                     <li class="steps__item" ><span class="steps__link">Plan</span></li>
										                      <li class="steps__item  steps__item--active  steps__item--first"><a href="#" class="steps__link">Payment</a></li>
										                  </ol>  
										               </div>
										            </div>
										         <!-- WIZARD ENDS HERE -->

							                    	<!-- Product Information starts here -->
							                    	<div class="col-sm-12">
								                    	<div class="wizard-header">
								                        	<h4 class="newproduct">Setup Default Payment Provider</h4>
								                        	<hr class="hrhere">
								                        </div>

								                        <!-- store plans starts here-->
								                        <div class="col-sm-12">
															<div class="col-sm-4">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelewplan">Pay TM</label>
																	<div class="form-group">
											                    		<input type="text" class="form-control" id="MID" placeholder="Merchant ID(length of 20)">            	
												                	</div>
												                	<div class="form-group">
											                    		<input type="text" class="form-control" id="MERCHANT_KEY" placeholder="Merchant Secret(length of 16)">           	
												                	</div>
												                	<div class="col-sm-12">	
																		<input type="submit" name="submit" id="finish" class="submitlink" value="FINISH">
																	</div>
																</div>
															</div>

															<div class="col-sm-2">
																<div class="middleor">
																	<div class="middleordata">or</div>
																</div>
															</div>

															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<div class="paytmpay">
																		<img src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/paytm-bank.png" alt="paytm">
																	</div>
																</div>
																<div class="col-sm-12">
							                                            <div class="confirmwelcomebaspay">
							                                                <input type="checkbox" name="">
							                                                <span class="basketspan">&nbsp;&nbsp;&nbsp;Signup for Pay TM</span>
							                                             </div>
							                                        </div>
																<div class="col-sm-12">	
																	<input type="submit" name="submit" class="submitlink" value="REMIND LATER">
																</div>
																
															</div>
															
														</div>

													</div>	
													<!-- Product information ends here -->
													


			                            		</div>
			                            	</div>
			                            </div>
			                            <!-- PRODCT END HERE -->
			                        </div>
			                	</form>
			                </div>
			            </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    
	</div>

</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>

	<script>
		$(document).ready(function(){

			$("#finish").click(function(e){
				e.preventDefault();
				var mid=$("#MID").val();
				var sid=$("#MERCHANT_KEY").val();
				var storeName=window.localStorage.getItem('storeName');
				$.ajax({
					  type:'POST',
					  url:'/account_details?storeName='+storeName,
					  data:{MID:mid,MERCHANT_KEY:sid},
					  success:function(res){
						alert(res.message);
						if(res.status=="success")
						{
							//const url="http://admin."+data.storeName+".serverless9.com/store_setup";
							//console.log("url" + url);
							window.location="/dashboard";
						}
					  },
					  error:function(jqXHR, textStatus, errorThrown){
					  alert('error: ' + textStatus + ': ' + errorThrown);
					  console.log(errorThrown);
					  }
					});

			});
			
			//$("#basketone").show();
			$("#baskettwo").hide();

			//$("#planone").show();
			$("#plantwo").hide();	

			//$("#paymentone").show();
			$("#paymenttwo").hide();	
		});
	</script>
	<style type="text/css">
		input[type=text] {text-align: center;   color: #adaca5;}
		input[type=time] {text-align: center;}
	</style>

</html>
