<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/apple-icon.png" />
      <link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/favicon.png" />
      <title>Verify</title>
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <meta name="viewport" content="width=device-width" />
      <!-- CSS Files -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/css/styles.css" rel="stylesheet" />
      <!-- Fonts and Icons -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 

      <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>


   </head>
   <body>
      <div class="image-container set-full-height">
         <div class="header">
            <div class="logosection">	    	
               <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/new_logo.png"></a>
            </div>
         </div>
         <!--   Big container   -->
         <div class="container">

            <div class="row">
               <div class="col-sm-4 col-sm-offset-4">
                  <!--      Wizard container        -->
                  <div class="wizard-container">
                     <div class="wizard-header1">
                        <div class="signuphead">Verify</div>
                     </div>
                     <div class="signupbody">
                        <div class="card wizard-card" data-color="green" >
                           <form action="" method="">
                              <div class="row">
                                 <div class="col-sm-10 col-sm-offset-1">
                                    <div class="col-sm-12">
                                       <div class="wizard-header1">
                                          <div class="usericon"><img alt="verify" src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/img/verify.png"></div>
                                       </div>
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <div class="verifyinfo">Thakns for choosing our service</div>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <div class="verifyinfo">To continue to login</div>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <div class="verifyinfo">Click to verify your email id</div>
                                       </div>
                                       <div class="row">
                                          <input type="submit" id="varify" name="submit" class="submitlink" value="Verify">
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <!-- wizard container -->
               </div>
            </div>
            <!-- row -->
         </div>
         <!--  big container -->
      </div>
   </body>
   <!--   Core JS Files   -->
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
   <!--  Plugin for the Wizard -->
   <script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
   <script src="https://s3.ap-south-1.amazonaws.com/cadenza-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
   <script>
      $(document).ready(function(){	
            $("#varify").click(function(e){
                  e.preventDefault();
                  window.location="https://mail.google.com";

            });		
      	//$("#basketone").show();
      	$("#baskettwo").show();
      
      	//$("#planone").show();
      	$("#plantwo").show();	
      
      	//$("#paymentone").show();
      	$("#paymenttwo").show();	
      });
   </script>	
</html>